.image-background{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 138, 138);
    width: 48px;
    height: 48px;
    border-radius: 50%;

}
#profile-icon{

    background-color: plum;
    width: 36px;
    height: 36px;
    border-radius: 50%;

}